/* 
    Document   : app
    Created on : Jun 3, 2013, 1:20:25 PM
    Author     : Disi
    Description:
        Purpose of the stylesheet follows.
*/

/*
Override ext css, eliminate the tip wide (fixed 40px) bug
*/
.x-tip {
    width: auto !important;
    max-width: 400px;
}
.x-tip-body {
    width: auto !important;
    max-width: 400px;
}
.x-tip-body span {
    width: auto !important;
    max-width: 400px;
}
.x-mask {
    opacity: 0.0;
}

u.pointer {
    cursor: pointer;
}

.x-tab-bar-body-default-top {
    padding: 2px 2px 3px 2px;
}
.x-tab-default-top {
    padding: 7px 10px 6px 10px;
}
.x-tab-bar-default .x-tabbar-scroll-left, .x-tab-bar-default .x-tabbar-scroll-right {
    height: 29px;
}
.x-boundlist {
    border-color: #3892d3;
}




/*#toolbar{*/
    /*background: #cecece; *//* Old browsers */
    /*background: -moz-linear-gradient(top,  #cecece 0%, #a8a8a8 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#a8a8a8)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom,  #cecece 0%,#a8a8a8 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#a8a8a8',GradientType=0 ); *//* IE6-9 */

    /*padding:2px 0 2px 4px;*/
    /*height: 29px;*/
    /*border-bottom: 1px solid #515151;*/
/*}*/
.node_element_width{
    width:100px;
}
.palette_node_element{
    /*border:1px solid rgb(209, 209, 209);*/
    /*background-color: #f3f3f3;*/
    padding:5px 0 0 0;
    cursor:move;
    height: 56px;
    /*margin: 10px 0;*/
    /*text-align:center;*/
    /*align:center;*/
    /*border-radius: 5px;*/
    /*display: none;*/
}

.node_pool{
    /*width: 100px;*/
    align:center;
    margin: 0 auto;
    
}
.node_pool_panel{
    position:fixed;
    background: #ffffff;
    border: solid 1px lightblue;
    border-top: 0px;
    border-left: 0;
    z-index: 1000;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .node_pool_panel
    {
        margin-top: 36px;
    }
}
.shadow {
 -moz-box-shadow: 3px 3px 4px #000;
 -webkit-box-shadow: 3px 3px 4px #000;
 box-shadow: 3px 3px 4px #000;
 /* For IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
 /* For IE 5.5 - 7 */
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:5px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 4px;
    -moz-border-radius: 4px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 3px 5px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 0px;
    /*font-weight: bold;*/
    font-size: 14px;
}
#msg-div .msg p {
    margin: 0;
}

/* StatusBar - structure */
.x-statusbar .x-status-text {
    cursor: default;
    /*
        height: 21px;
        line-height: 21px;
        padding: 0 4px;
    */
}
.x-statusbar .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

.x-toolbar div.xtb-text

.x-statusbar .x-status-text-panel {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 2px 8px 2px 5px;
}

/* StatusBar word processor example styles */

#word-status .x-status-text-panel .spacer {
    width: 60px;
    font-size:0;
    line-height:0;
}
#word-status .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
#word-status .x-status-saved {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    cursor: pointer;
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-statusbar .x-status-valid {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-status-error-list {
    font: 11px tahoma,arial,verdana,sans-serif;
    position: absolute;
    z-index: 9999;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 5px 10px;
}
.x-status-error-list li {
    cursor: pointer;
    list-style: disc;
    margin-left: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}


/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */


/* StatusBar - visual */

.x-statusbar .x-status-busy {
    background-image: url(../../img/icon/colorful/loading.gif);
}
.x-statusbar .x-status-text-panel {
    border-color: #99bbe8 #fff #fff #99bbe8;
}

/* StatusBar word processor example styles */

#word-status .x-status-text {
    color: #777;
}
#word-status .x-status-busy {
    background-image: url(../../img/icon/colorful/saving.gif);
}
#word-status .x-status-saved {
    background-image: url(../../img/icon/colorful/saved.png);
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    color: #C33;
    background-image: url(../../img/icon/colorful/exclamation.gif);
}
.x-statusbar .x-status-valid {
    background-image: url(../../img/icon/colorful/accept.png);
}
.x-status-error-list {
    border-color: #C33;
    background: white;
}
.x-status-error-list li a {
    color: #15428B;
}
.list-row {
    border: 1px solid #f90;
    border-radius: 5px;
    cursor: pointer;
    list-style: none outside;
    padding: 5px;
    margin-bottom: 10px;
}

/** flags */

.en {
    background-image:url('../../flags/us.png') !important;
}

.de {
    background-image:url('../../flags/de.png') !important;
}
/** Icons */
.check {
    background-image:url('../../icons/accept.png') !important;
}
.key {
    background-image:url('../../icons/key.png') !important;
}

.key-go {
    background-image:url('../../icons/key_go.png') !important;
}

.cancel {
    background-image:url('../../icons/cancel.png') !important;
}

.save {
    background-image:url('../../icons/disk.png') !important;
}

.add {
    background-image:url('../../icons/add.png') !important;
}

.edit {
    background-image:url('../../icons/pencil.png') !important;
}

.delete {
    background-image:url('../../icons/delete.png') !important;
}

.logout {
    background-image:url('../../icons/door_in.png') !important;
}

.sitemap {
    background-image:url('../../icons/sitemap_color.png') !important;
}

.home {
    background-image:url('../../icons/house.png') !important;
}

.menu_admin {
    background-image:url('../../icons/folder_user.png') !important;
}

.menu_groups {
    background-image:url('../../icons/group_key.png') !important;
}

.menu_profile {
    background-image:url('../../icons/user_edit.png') !important;
}

.menu_users {
    background-image:url('../../icons/group_edit.png') !important;
}

/** chapter 06 icons */
.menu_staticdata {
    background-image:url('../../icons/database_table.png') !important;
}

.menu_actor {
    background-image:url('../../icons/vcard.png') !important;
}

.menu_category {
    background-image:url('../../icons/tag_green.png') !important;
}

.menu_language {
    background-image:url('../../icons/flag_yellow.png') !important;
}

.menu_city {
    background-image:url('../../icons/briefcase.png') !important;
}

.menu_country {
    background-image:url('../../icons/world.png') !important;
}

.save_all {
    background-image:url('../../icons/disk_multiple.png') !important;
}

.clear_filter {
    background-image:url('../../icons/filter_del.gif') !important;
}

.grouping {
    background-image:url('../../icons/application_view_tile.png') !important;
}

/** chapter 07 icons */
.menu_cms {
    background-image:url('../../icons/book_open.png') !important;
}

.menu_films {
    background-image:url('../../icons/film.png') !important;
}

.find {
    background-image:url('../../icons/find.png') !important;
}

.clear {
    background-image:url('../../icons/page_white_delete.png') !important;
}

.film_add {
    background-image:url('../../icons/film_add.png') !important;
}

.film_edit {
    background-image:url('../../icons/film_edit.png') !important;
}

/** chapter 08 icons */
.menu_reports {
    background-image:url('../../icons/chart_line.png') !important;
}

.menu_salesfilmc {
    background-image:url('../../icons/money.png') !important;
}

.print {
    background-image:url('../../icons/icoPrint.gif') !important;
}

.pdf {
    background-image:url('../../icons/pdf_icon.gif') !important;
}

.excel {
    background-image:url('../../icons/ms-excel.gif') !important;
}

.image {
    background-image:url('../../icons/picture.png') !important;
}

.svg {
    background-image:url('../../icons/photo.png') !important;
}

.chart_pie {
    background-image:url('../../icons/chart_pie.png') !important;
}

.chart_bar {
    background-image:url('../../icons/chart_bar.png') !important;
}

.chart_column {
    background-image:url('../../icons/chart_column.png') !important;
}

.download {
    background-image:url('../../icons/download.png') !important;
}

/** chapter 09 icons */
.attach {
    background:transparent url('../../icons/mail/i_attach.gif') no-repeat 3px 3px !important;
    text-indent:-250px;
}

.flagged {
    background:transparent url('../../icons/mail/flagged.png') no-repeat 3px 3px !important;
    text-indent:-250px;
}

.flag-email {
    background:transparent url('../../icons/mail/flag.png') no-repeat 3px 3px !important;
    text-indent:-250px;
}

.importance {
    background:transparent url('../../icons/mail/priority_high.gif') no-repeat 3px 3px !important;
    text-indent:-250px;
}

.icon-msg {
    background:transparent url('../../icons/mail/page.png') no-repeat 3px 3px  !important;
    text-indent:-250px;
}

.preview-right {
    background-image:url('../../icons/mail/preview-right.gif') !important;
}

.preview-bottom {
    background-image:url('../../icons/mail/preview-bottom.gif') !important;
}

.preview-hide {
    background-image:url('../../icons/mail/preview-hide.gif') !important;
}

.unread {
    background:transparent url('../../icons/mail/mailclose.gif') no-repeat 3px 3px !important;
}

.read {
    background:transparent url('../../icons/mail/mailopen.gif') no-repeat 3px 3px !important;
}

.reply {
    background:transparent url('../../icons/mail/reply.gif') no-repeat 3px 3px !important;
}

.replyall {
    background:transparent url('../../icons/mail/replyall.gif') no-repeat 3px 3px !important;
}

.fwd {
    background:transparent url('../../icons/mail/mail_forward.png') no-repeat 3px 3px !important;
}

.menu_mailclient {
    background-image:url('../../icons/mail/email.png') !important;
}

.menu_mail {
    background-image:url('../../icons/mail/email_open.png') !important;
}

.folder-inbox {
    background:transparent url('../../icons/mail/folder-inbox.png') no-repeat !important;
}

.folder-drafts {
    background:transparent url('../../icons/mail/folder-drafts.png') no-repeat !important;
}

.folder-trash {
    background:transparent url('../../icons/mail/folder-trash.png') no-repeat !important;
}

.folder-sent {
    background:transparent url('../../icons/mail/folder-sent.png') no-repeat !important;
}

.selected-node .x-grid-row-selected .x-grid-cell {
    font-weight: bold;
}

.new-mail {
    background-image:url('../../icons/mail/mail_write.png') !important;
}

.send-mail {
    background-image:url('../../icons/mail/email_go.png') !important;
}

.bcc {
    background-image:url('../../icons/mail/mail_preferences.png') !important;
}

.boldFont .x-grid-cell { font-weight:bold; !important; }