//
   Created by fonpah on 02.05.2014.

div(id="authoring_space_el", class="x-hide-display")
    div(onselectstart="javascript:/*IE8 hack*/return false",
    id="draw_space_holder_template", style="background: transparent url(./ui/img/background.png);")
        div.node_pool_panel
        div(style="margin-left: 50px; width:2200px; height:1600px")